@font-face {
	font-family: "Fira Sans";
	src: url("fonts/FiraSans-Regular.woff2"), url("fonts/FiraSans-Regular.woff");
}

:root {
	--foreground-color: #FFF;
	--background-color: #000;
	--transparent-color: #4D4D4D;
	--border-1: 1px var(--foreground-color) solid;
	--border-3: 3px var(--foreground-color) solid;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Fira Sans", "Helvetica", "Verdana", sans-serif;
	color: #FFF;
	background-color: #000;
}

.flex { display: flex; }
.col { flex-direction: column; }
.jc { justify-content: center; }
.je { justify-content: space-evenly; }
.jb { justify-content: space-between; }
.ac { align-items: center; }
.gap10 { gap: 10px; }
.gap50 { gap: 50px; }
.gap100 { gap: 100px; }
.bdr1 { border: var(--border-1); }
.bdr3 { border: var(--border-3); }

body {
	height: 100vh;
}

div.container {
	width: 100vw;
}

div.grid {
	width: min(60vw, 60vh);
	height: min(60vw, 60vh);
	display: grid;
	grid: repeat(3, 1fr) / repeat(3, 1fr);
}

div.grid svg {
	border-top: 0;
	border-left: 0;
	border-right: var(--border-3);
	border-bottom: var(--border-3);
}

div.grid svg:nth-child(3n) {
	border-right: 0;
}

div.grid svg:nth-child(1n + 7) {
	border-bottom: 0;
}

div.grid svg * {
	stroke: var(--background-color);
	stroke-width: 5;
	stroke-opacity: 0;
	fill: transparent;
	transition: 0.2s;
}

div.grid[data-game-status="0"] svg[data-mark="undefined"]:hover,
div.grid[data-game-status="1"] svg[data-mark="undefined"]:hover,
div.grid[data-game-status="10"]:hover,
div.grid[data-game-status="11"]:hover,
div.grid[data-game-status="12"]:hover {
	cursor: pointer;
}

div.grid[data-game-status="0"] svg[data-mark="undefined"]:hover line,
div.grid[data-game-status="1"] svg[data-mark="undefined"]:hover circle {
	stroke: var(--transparent-color);
	stroke-opacity: 100%;
}

div.grid svg[data-mark="0"] line,
div.grid svg[data-mark="1"] circle {
	stroke: var(--foreground-color);
	stroke-opacity: 100%;
}

div.player {
	width: 20%;
}

p.name {
	font-size: 1.25rem;
	text-transform: uppercase;
}

p.wins {
	font-size: 3rem;
}

svg.player-symbol,
svg.turn-marker {
	stroke-width: 2.5;
}

svg.player-symbol * {
	stroke: var(--foreground-color);
}

svg.turn-marker * {
	transition: 0.2s;
	stroke: var(--background-color);
}

svg.turn-marker[data-your-turn="true"] * {
	stroke: var(--foreground-color);
}

@keyframes message {
	0% { color: var(--foreground-color); }
	100% { color: var(--background-color); }
}

div.msg span {
	font-size: 1.25rem;
	animation-fill-mode: forwards;
	animation-name: message;
	animation-delay: 3s;
	animation-duration: 2s;
}

div.options {
	position: fixed;
	top: 15px;
	left: 15px;
}

button,
input[type="submit"] {
	padding: 5px 10px;
}

button:hover,
input[type="submit"]:hover {
	cursor: pointer;
	color: #000;
	background-color: var(--foreground-color);
}

dialog#name-dialog {
	width: 33vw;
	max-width: 500px;
	margin: auto auto;
	padding: 25px;
}

dialog#name-dialog input[type="text"] {
	padding: 5px;
}

dialog#name-dialog input[type="text"]:focus {
	color: var(--background-color);
	background-color: var(--foreground-color);
	outline: 0;
}
